<%= link_to restaurant_path(restaurant) do %>
  <div class="card">
    <img src="http://source.unsplash.com/featured/?restaurant&<%= rand(1000) %>" class="card-img-top">
    <div class="card-body">
      <h5 class="card-title"><%= restaurant.name %></h5>
      <h6 class="card-subtitle mb-2 text-muted"><small><%= restaurant.address %></small></h6>
      <h6 class="card-subtitle mb-2"><%= restaurant.category %></h6>
    </div>
  </div>
<% end %>
